@page "/"

    <h3>Smash</h3>

    <DragDrop />

    @code {
        //[CascadingParameter] public IModalService Modal { get; set; }

        //protected override async Task OnInitializedAsync()
        //{
        //    var moviesModal = Modal.Show<Smash>("My Movies");
        //    var result = await moviesModal.Result;

        //    if (result.Cancelled)
        //    {
        //        Console.WriteLine("Modal was cancelled");
        //    }
        //    else
        //    {
        //        Console.WriteLine("Modal was closed");
        //    }

        //}

    }
