@page "/"

    <h3>Smash</h3>

    <DragDrop />

    <MatDialog @bind-IsOpen="@tutorialDialogIsOpen">
        <MatDialogTitle>How to upload PDF and Smash</MatDialogTitle>
        <MatDialogContent>
            <ol>
                <li>Drag and drop the PDF onto the designated box</li>
                <li>Press Smash button</li>
            </ol>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { tutorialDialogIsOpen = false; })">OK</MatButton>
        </MatDialogActions>
    </MatDialog>

    @code {
        bool tutorialDialogIsOpen = true;

    }
