<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/659adbdd-6126-4163-aaf1-f3520bdf3047/resourceGroups/PDF.Smasher/providers/Microsoft.ContainerRegistry/registries/PDFSmasherAPI</ContainerResourceId>
    <ContainerResourceName>PDFSmasherAPI</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>pdfsmasherapi.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://pdfsmasherapi.scm.azurewebsites.net/</SCMUrl>
    <ApiResourceId>/subscriptions/659adbdd-6126-4163-aaf1-f3520bdf3047/resourceGroups/PDF.Smasher/providers/Microsoft.ApiManagement/service/PDFSmasherAPIapi/apis/PDFSmasherAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/659adbdd-6126-4163-aaf1-f3520bdf3047/resourceGroups/PDF.Smasher/providers/Microsoft.Web/sites/PDFSmasherApi</ResourceId>
    <ResourceGroup>PDF.Smasher</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://pdfsmasherapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc32f156-258a-4d07-8809-9bb4d5d1fbec</ProjectGuid>
  </PropertyGroup>
</Project>