<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/659adbdd-6126-4163-aaf1-f3520bdf3047/resourceGroups/PDF.Smasher/providers/Microsoft.ContainerRegistry/registries/PDFSmasherFrontEnd</ContainerResourceId>
    <ContainerResourceName>PDFSmasherFrontEnd</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>pdfsmasherfrontend.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://pdfsmasherfrontend.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/659adbdd-6126-4163-aaf1-f3520bdf3047/resourceGroups/PDF.Smasher/providers/Microsoft.Web/sites/PDFSmasherFrontEnd</ResourceId>
    <ResourceGroup>PDF.Smasher</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://pdfsmasherfrontend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>865ccb3a-f663-4bd7-84ce-3586ff057a31</ProjectGuid>
  </PropertyGroup>
</Project>